<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
"http://java.sun.com/j2ee/dtds/web-app_2_3.dtd">

<web-app>
    <servlet>
        <servlet-name>Minitienda</servlet-name>
        <servlet-class>controlador.formParametros</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Minitienda</servlet-name>
        <url-pattern>/miniForm</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Caja</servlet-name>
        <servlet-class>controlador.Caja</servlet-class>
    </servlet>
    
     <servlet-mapping>
        <servlet-name>Caja</servlet-name>
        <url-pattern>/caja</url-pattern>
    </servlet-mapping>
</web-app>